@charset "UTF-8";
/* Insert your custom CSS styles */
.field-name-field-c-base-city tr > td:nth-child(2),
.field-name-field-previous-jobs tr > td:nth-child(2) {
  margin: 10px;
}
.field-name-field-c-base-city tr > td:nth-child(2),
.field-name-field-previous-jobs tr > td:nth-child(2),
.field-name-field-c-base-city .ajax-new-content,
.field-name-field-previous-jobs .ajax-new-content {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}
.field-type-field-collection .form-type-checkbox {
  margin-top: 20%;
}

.page-user-edit .field-name-field-base-city-checked,
.page-user-edit .field-name-field-model-base-city,
.page-user-edit .field-name-field-c-base-city .form-submit,
.page-user-edit .field-name-field-previous-jobs .form-submit,
.page-user-edit .field-name-field-client,
.page-user-edit .field-name-field-job-title {
  margin-right: 10px;
}

.file-widget {
  display: flex;
}
.page-user-edit-model-basic-informaiton .field-name-field-height,
.page-user-edit-model-basic-informaiton .field-name-field-chest,
.page-user-edit-model-basic-informaiton .field-name-field-waist,
.page-user-edit-model-basic-informaiton .field-name-field-hip {
  margin: 10px 0 20px 0;
  width: 200px;
}
.page-user-edit-model-basic-informaiton .field-name-field-height input,
.page-user-edit-model-basic-informaiton .field-name-field-chest input,
.page-user-edit-model-basic-informaiton .field-name-field-waist input,
.page-user-edit-model-basic-informaiton .field-name-field-hip input {
  text-align: center;
  border: none;
  box-shadow: none;
  margin-top: 10px;
  padding-top: 0;
  background: transparent;
}

.field-name-field-c-base-city .field-name-field-model-base-city label {
  display: none;
}

a.tabledrag-toggle-weight {
  display: none;
}
a.tabledrag-handle .handle {
  margin: 0;
  padding: 0;
  background-position: 0 0;
}
.draggable a.tabledrag-handle {
  margin-left: 0;
  padding-top: 20%;
}

.page-user-edit-model-videos .field-name-field-videos .form-item label {
  display: none;
}

.page-user-edit-model-videos .field-name-field-videos .form-item {
  margin: 10px;
}

.page-user-edit-model-videos .draggable a.tabledrag-handle {
  padding-top: 33%;
}

.page-user-edit-galleries #user-profile-form {
  display: none;
}
.block-social-login-widget .block-content {
  width: 280px;
  margin-left: 33.33333%;
}
.block-social-login-widget .social_login > div {
  overflow: hidden;
  position: relative;
  height: 60px;
  width: 280px;
}

.region-content {
  position: relative;
}
.xing_apply_btn a {
  position: absolute;
  top: -90px;
  left: 230px;
  display: block;
  background-image: url('images/xing-logo.svg');
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  font-size: 0;
  cursor: pointer;
}

.xing_apply_btn a:hover {
  text-decoration: none;
}

.xing_apply_btn a:after {
  display: block;
  content: 'XING';
  text-align: center;
  color: #000;
  font-size: 11px;
  line-height: 14px;
  margin-top: 38px;
  font-weight: 500;
  text-decoration: none;
}

