@charset "UTF-8";
/* Insert your custom CSS styles */
.field-name-field-c-base-city tr > td:nth-child(2),
.field-name-field-previous-jobs tr > td:nth-child(2) {
  margin: 10px;
}
.field-name-field-c-base-city tr > td:nth-child(2),
.field-name-field-previous-jobs tr > td:nth-child(2),
.field-name-field-c-base-city .ajax-new-content,
.field-name-field-previous-jobs .ajax-new-content {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}
.field-type-field-collection .form-type-checkbox {
  margin-top: 20%;
}

.page-user-edit .field-name-field-base-city-checked,
.page-user-edit .field-name-field-model-base-city,
.page-user-edit .field-name-field-c-base-city .form-submit,
.page-user-edit .field-name-field-previous-jobs .form-submit,
.page-user-edit .field-name-field-client,
.page-user-edit .field-name-field-job-title {
  margin-right: 10px;
}

.file-widget {
  display: flex;
}
.page-user-edit-model-basic-informaiton .field-name-field-height,
.page-user-edit-model-basic-informaiton .field-name-field-chest,
.page-user-edit-model-basic-informaiton .field-name-field-waist,
.page-user-edit-model-basic-informaiton .field-name-field-hip {
  margin: 10px 0 20px 0;
  width: 200px;
}
.page-user-edit-model-basic-informaiton .field-name-field-height input,
.page-user-edit-model-basic-informaiton .field-name-field-chest input,
.page-user-edit-model-basic-informaiton .field-name-field-waist input,
.page-user-edit-model-basic-informaiton .field-name-field-hip input {
  text-align: center;
  border: none;
  box-shadow: none;
  margin-top: 10px;
  padding-top: 0;
  background: transparent;
}

.field-name-field-c-base-city .field-name-field-model-base-city label {
  display: none;
}

a.tabledrag-toggle-weight {
  display: none;
}
a.tabledrag-handle .handle {
  margin: 0;
  padding: 0;
  background-position: 0 0;
}
.draggable a.tabledrag-handle {
  margin-left: 0;
  padding-top: 20%;
}

.page-user-edit-model-videos .field-name-field-videos .form-item label {
  display: none;
}

.page-user-edit-model-videos .field-name-field-videos .form-item {
  margin: 10px;
}

.page-user-edit-model-videos .draggable a.tabledrag-handle {
  padding-top: 33%;
}

.page-user-edit-galleries #user-profile-form {
  display: none;
}
.block-social-login-widget .social_login > div {
  overflow: hidden;
  position: relative;
  height: 52px;
  width: 280px;
}

.region-content {
  position: relative;
}
.xing_apply_btn a {
  background-image: url('images/xing-logo.svg');
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  font-size: 0;
  position: absolute;
  display: block;
  cursor: pointer;
  top: -90px;
  left: 225px;
}

.xing_apply_btn a:hover {
  text-decoration: none;
}

.xing_apply_btn a:after {
  display: block;
  content: 'XING';
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  margin-top: 38px;
  color: #222;
  font-weight: 500;
  text-decoration: none;
}

.block-social-login-widget .block-content {
  width: 280px;
  margin-left: -11px;
}

.social_login.model > div,
.social_login.customer > div {
  width: 140px;
}

.social_login.customer > div iframe {
  margin-top: -60px;
}

.xing_apply_btn a.customer {
  left: 85px !important;
  /*top: -80px;*/
}

#block-locale-language,
#block-system-user-menu,
#block-system-main-menu {
  padding-left: 15px;
  padding-right: 15px;
}

.bg-gray .submitted {
  display: none;
}

#block-system-main-menu {
  margin-bottom: 32px;
}

#block-system-main-menu .block-content li,
#block-system-user-menu .block-content li,
#block-locale-language .block-content li {
  display: inline-block;
  margin-right: 15px;
}

#block-system-user-menu .block-content ul,
#block-locale-language .block-content ul {
  padding-left: 0;
}

#block-system-main-menu h5,
#block-system-user-menu h5,
#block-locale-language h5 {
  margin-bottom: 15px;
}

.nd-region {
  padding-bottom: 0 !important;
}

.tpl-minimal-tabs {
  display: block;
  width: 100%;
}

.tpl-minimal-tabs li {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.tpl-minimal-tabs li:first-child {
  padding-left: 0;
}

.social_login {
  margin: 0 15px 18px 0 !important;
}

.mb-40 {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .tpl-minimal-tabs li {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media screen and (min-width: 992px) {
  .xing_apply_btn a {
    top: -90px;
    left: 227px;
  }
  .block-social-login-widget .block-content {
    margin-left: 33.33333%;
  }
  #block-locale-language,
  #block-system-user-menu,
  #block-system-main-menu {
    padding-left: 40px;
    padding-right: 40px;
  }
  #block-system-main-menu .block-content h5,
  #block-system-user-menu .block-content h5,
  #block-locale-language .block-content h5 {
    margin-bottom: 40px;
  }
  .tpl-minimal-tabs {
    margin-left: 0;
    margin-right: 0;
  }
  .social_login {
    margin-top: 0;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
}

.form-actions {
  text-align: center;
}

.form-actions .form-submit {
  width: auto;
}

.btn-mod.btn-medium {
  padding: 8px 15px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select {
  width: auto;
}

.view-models .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.view-models .views-row {
  width: 150px;
  margin: 10px;
  text-align: center;
}

.view-models .views-row .views-field-picture {
  margin-bottom: 10px;
}

.view-models .views-row .views-field-picture img {
  border-radius: 3px;
}

.page-customer-dashboard #block-system-user-menu h5,
.page-customer-dashboard #block-locale-language h5 {
  display: none;
}

.page-customer-dashboard #block-menu-menu-customer-menu h5 {
  color: transparent;
}

.page-customer-dashboard #block-menu-menu-customer-menu ul.default-menu {
  padding-left: 0;
  margin-top: 11px;
}

.page-customer-dashboard #block-menu-menu-customer-menu ul.default-menu li {
  list-style: none;
  margin-bottom: 20px;
}

.page-customer-dashboard #block-menu-menu-customer-menu ul.default-menu a {
  border: 1px solid #222;
  background: none !important;
  color: #000;
  border-radius: 30px;
  padding: 5px 15px;
  text-decoration: none;
  display: block;
  max-width: 50%;
  text-align: center;
}

.page-customer-dashboard #block-menu-menu-customer-menu ul.default-menu a:hover {
  border-color: #e9e9e9;
  color: #777;
}

.page-customer-dashboard .views-field-name a {
  font-size: 24px;
}

.page-customer-dashboard .views-field-name {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .page-customer-dashboard #block-views-customer-information-block,
  .page-customer-dashboard #block-menu-menu-customer-menu {
    display: inline-block;
    vertical-align: top;
  }
  .page-customer-dashboard #block-views-customer-information-block {
    margin-right: 2%;
  }
  .page-customer-dashboard #block-system-user-menu,
  .page-customer-dashboard #block-locale-language {
    display: inline-block;
    vertical-align: top;
  }
  .page-customer-dashboard #block-menu-menu-customer-menu ul.default-menu a {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .page-customer-dashboard #block-system-main-menu,
  .page-customer-dashboard #block-system-user-menu,
  .page-customer-dashboard #block-locale-language {
    display: inline-block;
    vertical-align: top;
  }

  .page-customer-dashboard #block-system-main-menu {
    padding-right: 0;
  }

  .page-customer-dashboard #block-system-user-menu h5,
  .page-customer-dashboard #block-locale-language h5 {
    display: block;
    color: transparent;
  }

  .page-customer-dashboard #block-system-user-menu,
  .page-customer-dashboard #block-locale-language {
    padding-right: 0;
    padding-left: 0;
    margin-left: -3px;
    margin-right: -3px;
  }
}

#block-views-my-jobs-block {
  margin-top: 30px;
}

#block-views-my-jobs-block h3 {
  flex: 1 1 100%;
  padding-left: 5px;
  margin-top: 30px;
}

#block-views-my-jobs-block .views-row {
  vertical-align: top;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin: 5px;
  padding: 15px 20px 25px 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  #block-views-my-jobs-block .views-row {
    width: 300px;
  }
}

#block-views-my-jobs-block .cd-header,
#block-views-my-jobs-block .views-field-title {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  font-weight: 600;
}

#block-views-my-jobs-block .views-field-field-job-start-date {
  vertical-align: top;
  font-size: 14px;
  font-weight: 600;
  display: block;
}

#block-views-my-jobs-block .actions {
  display: block;
  min-height: 50px;
  align-self: flex-end;
  width: 100%;
}

#block-views-my-jobs-block .actions a {
  vertical-align: top;
  margin: 15px 5px 0 0;
  color: #151515;
  border: 2px solid #151515;
  background: transparent;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: none;
  display: inline-block;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

#block-views-my-jobs-block .actions a:hover {
  background: #151515;
  color: #fff;
}

#block-views-my-jobs-block .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin-left: -5px;
  margin-right: -5px;
}

.view-models .views-exposed-form .views-exposed-widget {
  float: none;
}

.view-models .view-filters form {
  width: 300px;
  margin: 0 auto;
}

.view-models .view-filters {
  float: none;
}

.view-models .view-filters .form-item-daily-rate-min,
.view-models .view-filters .form-item-daily-rate-max {
  display: inline-block;
  width: 49%;
  height: 37px;
  margin-bottom: 5px !important;
}

.view-models .view-filters .rhythm-input {
  display: block;
}

.view-models .view-filters .form-item-daily-rate-max .rhythm-input {
  text-align: right;
}

.view-models .view-filters .form-item-daily-rate-min input,
.view-models .view-filters .form-item-daily-rate-max input {
  width: 80px;
  border: none;
  text-align: left;
}
.view-models .view-filters .form-item-daily-rate-max input {
  text-align: right;
}


.view-models .view-filters .form-item-daily-rate-max label {
  display: none;
}

.view-models .views-widget {
  display: block;
  margin-left: -10px;
  margin-right: -10px;
}

.view-models .views-exposed-widget label {
  font-weight: 600;
  margin-left: -10px;
  margin-bottom: 0;
}

.view-models .views-reset-button {
  text-align: center;
  margin-bottom: 20px;
}

.field-name-field-newsletter label {
  max-width: 90%;
}

.field-name-field-newsletter input {
  float: left;
  margin-right: 3px;
}

.page-node-add-job .filter-wrapper {
  display: none;
}

.page-node-add-job .group-job-daily-rate label,
.page-node-add-job .group-job-daily-rate .rhythm-input,
.page-node-add-job .group-job-daily-rate .form-wrapper,
.page-node-add-job .field-type-datetime label,
.page-node-add-job .field-type-datetime .rhythm-input {
  display: inline-block;
}

.page-node-add-job .group-job-daily-rate .form-wrapper {
  max-width: 200px;
}

.page-node-add-job .group-job-daily-rate label,
.page-node-add-job .field-type-datetime label {
  margin-right: 5px;
  margin-left: 5px;
}

.page-node-add-job .field-type-datetime .description {
  display: none;
}

.page-node-add-job .end-date-wrapper .form-type-date-popup > label {
  display: block;
  margin-bottom: 15px;
}

.page-node-add-job input {
  color: #000;
}

.page-node-add-job fieldset.date-combo .container-inline-date .date-padding {
  padding: 0;
}

.page-node-add-job .start-date-wrapper.form-group {
  margin-bottom: 0;
}

.page-node-add-job .form-actions {
  text-align: left;
}