@font-face {
  font-family: 'open_sansregular';
  src: url('../font/opensans-regular-webfont.eot');
  src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/opensans-regular-webfont.woff2') format('woff2'),
  url('../font/opensans-regular-webfont.woff') format('woff'),
  url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanslight';
  src: url('../font/opensans-light-webfont.eot');
  src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/opensans-light-webfont.woff2') format('woff2'),
  url('../font/opensans-light-webfont.woff') format('woff'),
  url('../font/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansbold';
  src: url('../font/opensans-bold-webfont.eot');
  src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/opensans-bold-webfont.woff2') format('woff2'),
  url('../font/opensans-bold-webfont.woff') format('woff'),
  url('../font/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dosisregular';
  src: url('../font/dosis-regular-webfont.eot');
  src: url('../font/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/dosis-regular-webfont.woff2') format('woff2'),
  url('../font/dosis-regular-webfont.woff') format('woff'),
  url('../font/dosis-regular-webfont.svg#dosisregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.contextual-links-wrapper,
.language-link,
.mp-pdf-link {
  display: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'dosisregular';
  margin-bottom: 1.3em;
  line-height: 1.4;
  font-weight: 400;
}

h4, .h4 {
  font-size: 18px;
}

.block-content,
.node-content {
  font-size: 14px;
  font-family: 'open_sansregular';
}

p {
  margin: 0 0 2em 0;
  font-size: 14px;
  font-family: 'open_sansregular';
}

html {
  font-size: 14px;
  font-family: 'open_sansregular';
}

.mpi-invoice {
  font-size: 15px;
}

.mpi-invoice .mpi-header .mpi-image img {
  max-width: 250px;
  width: 100%;
}

.mpi-invoice .mpi-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mpi-invoice .mpi-header .mpi-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 50%;
  width: 100%;
  padding: 1%;
}

.mpi-invoice .mpi-header .mpi-image {
  max-width: 50%;
  width: 100%;
  padding: 1%;
}

.mpi-invoice .mpi-header .mpi-text .mpi-text-column-1 {
  max-width: 50%;
  width: 100%;
  padding: 1%;
}

.mpi-invoice .mpi-header .mpi-text .mpi-text-column-2 {
  max-width: 50%;
  padding: 1%;
  width: 100%;
}

.mpi-invoice .mpi-header,
.mpi-invoice .mpi-address,
.mpi-invoice .mpi-job-details,
.mpi-invoice .mpi-main-bills,
.mpi-invoice .mpi-additional-bills,
.mpi-invoice .mpi-tax-bills {
  border-bottom: 1px solid #000;
}

.mpi-invoice .mpi-job-details {
  border-top: 1px solid #000;
}

.mpi-invoice .mpi-footer-part {
  margin-bottom: 15px;
}

.mpi-invoice .mpi-content .mpi-address-content,
.mpi-invoice .mpi-job-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mpi-invoice .mpi-job-dates .mpi-dates-separator {
  width: 10%;
}

.mpi-invoice .mpi-job-dates > div {
  padding-right: 1%;
}

.mpi-invoice .mpi-address-content > div {
  max-width: 50%;
  width: 100%;
  padding: 1%;
}

.mpi-invoice .mpi-address-suffix {
  padding: 1%;
  font-weight: 600;
}

.mpi-invoice .mpi-content .mpi-job,
.mpi-invoice .mpi-address-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mpi-invoice .mpi-content .mpi-job .mpi-job-dates {
  max-width: 50%;
  padding: 1%;
  width: 100%;
}

.mpi-invoice .mpi-content .mpi-job .mpi-customer-compamny-name {
  max-width: 50%;
  padding: 1%;
  width: 100%;
}

.mpi-invoice .mpi-content .mpi-job .mpi-job-details {
  padding: 1%;
  width: 100%;
}

.mpi-invoice .mpi-main-prefix.mpi-prefix,
.mpi-invoice .mpi-tax-prefix.mpi-prefix {
  padding: 1%;
  font-size: 13px;
}

.mpi-invoice .mpi-main-prefix.mpi-suffix {
  padding: 1%;
  font-size: 11px;
}

.mpi-invoice .mpi-customer-prefix {
  font-size: 11px;
}

.mpi-invoice .mpi-text-column {
  font-size: 13px;
}

.mpi-invoice .mpi-footer {
  padding: 1%;
  font-size: 11px;
}

.mpi-invoice .mpi-main-bills .mpi-main-bill-line,
.mpi-invoice .mpi-tax-bills .mpi-main-bill-line,
.mpi-invoice .mpi-additional-bills .mpi-main-bill-line,
.mpi-invoice .mpi-total-invoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mpi-invoice .mpi-main-bills .mpi-main-bill-line .mpi-label {
  max-width: 40%;
  padding: 1%;
  width: 100%;
}

.mpi-invoice .mpi-tax-bills .mpi-main-bill-line .mpi-label,
.mpi-invoice .mpi-additional-bills .mpi-main-bill-line .mpi-label {
  max-width: 52%;
  padding: 2px 1%;
  width: 100%;
}

.mpi-invoice .mpi-tax-bills .mpi-main-bill-line .mpi-qty,
.mpi-invoice .mpi-tax-bills .mpi-main-bill-line .mpi-netto,
.mpi-invoice .mpi-tax-bills .mpi-main-bill-line .mpi-brutto.mpi-total,
.mpi-invoice .mpi-additional-bills .mpi-main-bill-line .mpi-qty,
.mpi-invoice .mpi-additional-bills .mpi-main-bill-line .mpi-netto,
.mpi-invoice .mpi-additional-bills .mpi-main-bill-line .mpi-brutto.mpi-total {
  max-width: 16%;
  padding: 2px 1%;
  width: 100%;
}

.mpi-invoice .mpi-main-bills .mpi-main-bill-line .mpi-qty,
.mpi-invoice .mpi-main-bills .mpi-main-bill-line .mpi-netto,
.mpi-invoice .mpi-main-bills .mpi-main-bill-line .mpi-brutto.mpi-total {
  max-width: 20%;
  padding: 2px 1%;
  width: 100%;
}

.mpi-invoice .mpi-tax-bills .mpi-main-bill-line .mpi-brutto.mpi-total,
.mpi-invoice .mpi-main-bills .mpi-main-bill-line .mpi-brutto.mpi-total,
.mpi-invoice .mpi-additional-bills .mpi-main-bill-line .mpi-brutto.mpi-total {
  text-align: right;
}

.page-user-invoices .region-content {
  max-width: 970px;
  margin: 0 auto;
}

.mpi-invoice .mpi-total-invoice {
  text-align: right;
  font-weight: 600;
}

.mpi-invoice .mpi-total-invoice .mpi-total-invoice-label {
  max-width: 90%;
  padding: 1%;
  width: 100%;
}

.mpi-invoice .mpi-total-invoice .mpi-total-invoice-value {
  max-width: 10%;
  padding: 1%;
  width: 100%;
}