@font-face {
  font-family: 'open_sansregular';
  src: url('[path]/font/OpenSans-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanslight';
  src: url('[path]/font/OpenSans-Light.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansbold';
  src: url('[path]/font/OpenSans-Bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dosisregular';
  src: url('[path]/font/Dosis-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.contextual-links-wrapper,
.language-link,
.mp-pdf-link {
  display: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'dosisregular';
  margin-bottom: 1.3em;
  line-height: 1.4;
  font-weight: 400;
}

h4, .h4 {
  font-size: 18px;
}

.block-content,
.node-content {
  font-size: 14px;
  font-family: 'open_sansregular';
}

p {
  margin: 0 0 2em 0;
  font-size: 14px;
  font-family: 'open_sansregular';
}

html {
  font-size: 14px;
  font-family: 'open_sansregular';
}

.mpi-invoice * {
  font-family: 'open_sansregular';
}